/* multi.css Rel. 1.0.1  - (c) - Copyright 2019-2020 Ralph Neumann - MIT License */
/* Navigation css settings */
/* ================================ */

/* nav can be used as extra container.
nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
*/

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  fex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  list-style: none;
}

.navbar > .container, .navbar > .container-fluid {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
}

.navbar.nb-fix-bottom, .navbar.nb-fix-top {
  position: fixed;
  left: 0;
  right: 0;
}

.navbar.nb-fixed-top {
  top: 0;
}

.navbar.nb-fixed-bottom {
  bottom: 0;
}
